
:root {
	--white: rgb(255,255,255);
	--black: rgb(51,51,51);
	--grey: rgb(200,200,200);
	--grey2: rgb(231,231,231);
	--grey3: rgb(247,247,247);
	--burgundy: rgb(179,17,25);
	--lu93Serif: 'Lora', serif;
	--lu93Sans1: 'Open Sans', sans-serif;
	--lu93Sans2: 'Roboto', sans-serif;
	--careSans: 'Fira Sans Condensed', sans-serif;
	--fontBold: 'Fira Sans Condensed', sans-serif;
	--anim1: cubic-bezier(.5,0,0,1)
}

.splash {
	height: 100vh;
	background-color: #212121;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.splash .logo-icon {
	position: relative;
	height: 25vh;
}
.splash .logo-icon-half {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 48px;
}
@media (max-width: 991px) {
	.splash .logo-icon-half {
		padding: 0;
		padding-bottom: 48px;
	}
}

/******** Animate logo icon & title *********/
.splash .logo-icon-half:nth-child(1) {
	opacity: 0;
	transform: translateX(-200px);
	animation: logo-icon-l ease-out 4s;
	animation-fill-mode: forwards;
}
@keyframes logo-icon-l { 0%, 10% { opacity:0 } 30%, 100% { opacity:1; transform: translateX(0) } }

.splash .logo-icon-half:nth-child(2) {
	opacity: 0;
	transform: translateX(200px);
	animation: logo-icon-l ease-out 4s;
	animation-fill-mode: forwards;
}
@keyframes logo-icon-l { 0%, 10% { opacity:0 } 30%, 100% { opacity:1; transform: translateX(0) } }

.splash #title {
	opacity: 0;
	animation: logo-title ease-out 4s;
	animation-fill-mode: forwards;
}
@keyframes logo-title { 0%, 20% { opacity:0 } 50%, 100% { opacity:1; } }
.splash #subtitle {
	opacity: 0;
	animation: logo-subtitle ease-out 4s;
	animation-fill-mode: forwards;
}
@keyframes logo-subtitle { 0%, 25% { opacity:0 } 50%, 100% { opacity:1; } }


/******** Lang buttons *********/
#title, #subtitle {
	font-family: var(--lu93Serif);
	color: var(--grey);
	text-align: center;
}
#title {
	font-size: 3.8em;
	margin-bottom: .25em;
}
#subtitle {
	font-size: 2.45em;
	margin-bottom: 25px;
}
@media (max-width: 991px) {
	#title {
		font-size: 3em;
	}
	#subtitle {
		font-size: 1.8em;
		margin-bottom: .5em;
	}
}

/******** Lang buttons *********/
.languages > .col-lg-2 {
	position: relative;
	margin-top: 1em;
	text-align: center; /** center buttons **/
}

.languages .btn {
	background-color: rgba(200,200,200,.33);
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
	transition: all .33s;
}
.languages .btn:hover {
	background-color: #B31119;
	color: rgba(255,255,255,1);
	transition: all .5s;
}

.languages .btn {
	font-family: var(--lu93Sans1);
	color: rgba(255,255,255,.75);
	font-size: 1.25em;
	text-decoration: none;
}
.languages .btn:hover {
}

@media (max-width: 991px) {
	.splash .logo-icon-half {

	}
}

/******** Buttons style *********/
.btn {
	margin: .375rem;
	word-wrap: break-word;
	white-space: normal;
	border: 0;
	border-radius: .125rem;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,-webkit-box-shadow 0.25s ease-in-out;
	padding: .84rem 2.14rem; /*
	text-transform: uppercase;
	font-size: .81rem; */
}
/******** Animate buttons *********/
.languages a {
	opacity: 0;
	animation: buttons ease-out 5s;
	animation-fill-mode: forwards;
}
@keyframes buttons { 0%, 20% { opacity:0 } 50%, 100% { opacity:1; } }

/******** Language flags *********/
.flag {
	margin-top: 1em;
	width: 1.66em;
	visibility: hidden;
	opacity: 0;
	transform: translateY(10px);
	transition: visibility .25s, opacity .25s linear, transform .25s linear;
}
.languages a:hover > .flag {
	visibility: visible;
	opacity: .9;
	transform: translateY(0);
	transition: visibility 0, opacity .25s linear, transform .25s linear;
	
}